.custom-scrollbar-light::-webkit-scrollbar {
  width: 3px;
  background: transparent;
  padding-right: 5px;
  overflow: visible;
}

.custom-scrollbar-light::-webkit-scrollbar-track {
  background: transparent;
  position: relative;
}

.custom-scrollbar-light::-webkit-scrollbar-thumb {
  background-color: #484b58;
  border-radius: 100px;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

/* Hide scrollbar buttons */
.custom-scrollbar-light::-webkit-scrollbar-button,
.custom-scrollbar-light::-webkit-scrollbar-button:single-button {
  display: none;
  width: 0;
  height: 0;
}

.custom-scrollbar-dark::-webkit-scrollbar {
  width: 3px;
  background: transparent;
  padding-right: 5px;
  overflow: visible;
}

.custom-scrollbar-dark::-webkit-scrollbar-track {
  background: transparent;
  position: relative;
}

.custom-scrollbar-dark::-webkit-scrollbar-thumb {
  background-color: #2a2f3b;
  border-radius: 100px;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

/* Hide scrollbar buttons */
.custom-scrollbar-dark::-webkit-scrollbar-button,
.custom-scrollbar-dark::-webkit-scrollbar-button:single-button {
  display: none;
  width: 0;
  height: 0;
}

.custom-scroll-bar-bottom-gradient {
  background: #242933;
  background: linear-gradient(
    180deg,
    rgba(36, 41, 51, 0) 0%,
    rgba(36, 41, 51, 1) 83%
  );
}

.custom-scroll-bar-bottom-gradient-two {
  background: #484b58;
  background: linear-gradient(
    180deg,
    rgba(72, 75, 88, 0) 0%,
    rgba(72, 75, 88, 1) 93%
  );
}

#overlay-background.active {
  display: none;
}

@media (width < 96rem) {
  #overlay-background.active {
    display: block;
  }
  #sidebar.active {
    display: flex;
  }
}
